<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Exercício 2</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Converter Real para Dólar</h1>
    <form action="/conversor" method="post">
        <label for="real">Informe o valor em Reais:</label>
        <input name="reais" type="number" id="real">

        <button type="submit">Calcular</button>
    </form>

    {% if dolares %}
    <div class="resultado">
        <h2>Resultado em dólares:</h2>
        <p>US$: {{dolares}}</p>
    </div>
    {% endif %}
</body>
</html>
